<div class="container form-container large-form">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="inline-inputs">
        <div class="inline-2-inputs"><%= f.input :first_name%></div>
        <div class="inline-2-inputs"><%= f.input :last_name%></div>
      </div>

      <div class="inline-inputs">
        <div class="inline-2-inputs"><%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%></div>
        <div class="inline-2-inputs"><%= f.input :phone_number %></div>
      </div>

      <%= f.input :address %>

      <div class="inline-inputs">
        <div class="inline-2-inputs"><%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %></div>
        <div class="inline-2-inputs"><%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %></div>
      </div>

      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class:"my-btn prim" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<br><br><br>
