<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <%# change logo %>
      <%# change redirect to root_path%>
    <% end %>

    <%= link_to "#", class: "masterymate-link" do %>
      <p class="masterymate"><strong>M</strong>ASTERY<strong>M</strong>ATE</p>
      <%# change redirect to root_path%>
      <%# maje some styling (font etc) %>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">test</span>
    </button> %>
    <%# what is this useful for? delete? %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Become an expert", "#", class: "nav-link" %>
          </li>
          <%# add a condition in case the user is already an expert %>
          <%# change the redirect %>

          <li class="nav-item">
            <%= link_to "Placeholder", "#", class: "nav-link" %>
          </li>
          <%# change the redirect %>


          <li class="nav-item dropdown">
            <a href="#" class="my-btn prim" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %> <i class="fa-solid fa-bars"></i>
              <%# change with user avatar once cloudinary is set up (and change class to avatar instead of btn%>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%# change the redirect %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%# change the redirect %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>


        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
