<h4 class="step-box-title"><%= @request.title %></h4>
<div class="scroll scroll-step1">

  <p><em>Creation date: <%= @request.create_date %></em></p>

  <p><%= @request.description %></p>

  <% @request.pictures.each do |picture| %>
    <%= cl_image_tag picture.key, height: 250 %>
  <% end %>
</div>

<% if @request.status != "Offer accepted" %>
  <p class="decline-label"><em>Did you find another expert or do you no longer need this?</em></p>
  <%= link_to "Cancel request", request_cancelled_path(@request), data: {turbo_method: "patch", turbo_confirm: "Are you sure you want to cancel this request? It will no longer appear on the list."}, class: "my-btn sec" %>
<% end %>
