<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-request-id-value="<%= @request.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="chat-title">
    <h4><%= @request.title %></h4>
    <% if @request.user == current_user %>
      <p>Talking to <%= @request.expert.user.first_name %></p>
    <% elsif @request.expert.user == current_user %>
      <p>Talking to <%= @request.user.first_name %></p>
    <% end %>
  </div>
  <hr>

  <div class="messages scroll" data-chatroom-subscription-target="messages">
    <% @request.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <hr>

  <%= simple_form_for [@request, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex input-messages"} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Start to chat",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-4 send-btn" %>
  <% end %>
</div>
