<% if @request.offer.present? %>
  <div class="scroll scroll-step3">
    <h4 class="step-box-title"><%= @request.title %>: offer from <%= @request.expert.user.first_name %></h4>

    <p><%= @request.offer.content %></p>

    <p><strong>Appointement: </strong><%= @request.offer.occurs_on.strftime("%B %d, %Y") %></p>
    <p class="me-5"><strong>Duration: </strong><%= @request.offer.time %>h</p>


    <div class="d-flex">
      <p class="me-4"><strong>Total price: <%= (request.offer.time * request.expert.price_per_hour) + request.offer.extra_costs - request.offer.reduction %>€</strong></p>
      <p class="me-4">Price per hour: <%= @request.expert.price_per_hour %>€</p>
      <p class="me-4">Extra costs: <%= @request.offer.extra_costs %>€</p>
      <p>Reduction: <%= @request.offer.reduction %>€</p>
    </div>
  </div>

  <div class="button-space">
    <% if @request.offer.status == "Offer made" %>
      <%= link_to "Accept offer", request_offer_accepted_path(@request, @request.offer), data: {turbo_method: 'patch'}, class: "my-btn prim" %>
      <%= link_to "Decline offer", request_offer_declined_path(@request, @request.offer), data: {turbo_method: 'patch'}, class: "my-btn sec" %>
    <% end %>
  </div>
  <br>

<% else %>
  <p class="text-center"><%= @request.expert.user.first_name %> did not submit an offer yet 🥲.</p>
  <hr>
<% end %>
