<p>
  Now that you accepted the offer 🎉, we share <%= @request.expert.user.first_name %> contact details. Please keep them confidential!
</p>
<%= cl_image_tag @request.expert.user.photo.key, height: 300, width: 400, crop: :fill %>

<p class="title-subsection">Expert full name</p>
<p><%= @request.expert.user.first_name %> <%= @request.expert.user.last_name %></p>



<p class="title-subsection">Phone</p>
<p><%= @request.expert.user.phone_number %></p>


<p class="title-subsection">Address</p>
<p><%= @request.expert.user.address %></p>


<p class="title-subsection">Description</p>
<p><%= @request.expert.description %></p>


<p class="title-subsection">Expertise</p>
    <% @request.expert.fields.each do |field| %>
      <div><p class="card-tag"><%= field.expertise %></p></div>
      <% end %>
