<% if @request.status == "Offer accepted" %>

  <p class="text-center">Congratulations 🎉 Your appointment with <%= @request.expert.user.first_name %> is confirmed!</p>

  <hr>

    <p><strong>Recap of your appointment</strong></p>
    <p><strong>Date: </strong><%= @request.offer.occurs_on %></p>
    <p><strong>Address: </strong><%= @request.user.address %></p>

  <hr>

  <p><strong>Contact details</strong></p>
  <p>Please keep them confidential!</p>

  <div class="d-flex align-items-center">

      <%= cl_image_tag @request.expert.user.photo.key, height: 150, class: "avatar-lg" %>

      <div class="ms-3">
        <p><strong>Expert full name: </strong><%= @request.expert.user.first_name %> <%= @request.expert.user.last_name %></p>
        <p><strong>Phone number: </strong><%= @request.user.phone_number %></p>
        <p class="mb-0"><strong>Email: </strong><%= @request.expert.user.email %> </p>
      </div>

  </div>

<% else %>
  <p class="text-center">Sorry, you'll only have access to the expert contact details once you accept their offer 😊.</p>
  <hr>
<% end %>
