<p class="title-subsection">Subject</p>
<p><%= @request.title %></p>

<p class="title-subsection">Reception date</p>
<p><%= @request.create_date %></p>

<p class="title-subsection">Client</p>
<p class="mb-0"><%= @request.user.first_name %>, <%= @request.user.distance_to(current_user.address).to_i %>km from you</p>
<p>(You will get <%= @request.user.first_name %>'s address and contact details once the offer is confirmed.)</p>

<p class="title-subsection">Created on</p>
<p><%= @request.created_at.strftime("%A, %B, %d, %Y") %></p>

<p class="title-subsection">Description</p>
<p><%= @request.description %></p>

<% @request.pictures.each do |picture| %>
  <%= cl_image_tag picture.key, height: 250 %>
<% end %>
