<%# need to add the confition for the other status: offer rejected, cancelled... %>

<%# OFFER ACCEPTED: RECAP OF THE OFFER %>
<div class="scroll">
  <% if @request.offer.present? && @request.status == "Offer accepted"%>
    <p class="text-center">The offer has been accepted, you can no longer edit it.</p>

    <hr>

    <div class="title-subsection"><p>Offer content</p></div>
    <div><%= @request.offer.content %></div>

    <div class="title-subsection"><p>Appointment date</p></div>
    <div><%= @request.offer.occurs_on.strftime("%B %d, %Y") %></div>

    <div class="title-subsection"><p>Duration</p></div>
    <div><p><%= @request.offer.time %>h</p></div>

    <div class="title-subsection"><p>Price</p></div>
    <div><p>Price per hour: <%= @request.expert.price_per_hour %>€</p></div>
    <div><p>Extra costs: +<%= @request.offer.extra_costs %>€</p> <p>Reduction: -<%= @request.offer.reduction %>€</p></div>
    <div><p class="title-subsection total-price">Total price: <%= (request.offer.time * request.expert.price_per_hour) + request.offer.extra_costs - request.offer.reduction %>€</p></div>


  <%# NO OFFER OR OFFER MADE: FORM %>
  <%# the logic if we can a new or an edit form is in the request controller %>
  <% else %>
    <%= simple_form_for [@expert, @request, @offer] do |f| %>
      <%= f.input :content, label: "Offer content",
          label_html: { class:"bold-label" },
          hint: "Describe how you can help your client and how you will work together."
      %>

      <%= f.input :occurs_on, label: "Appointment date", label_html: { class:"bold-label mt-3" }, hint: "Align through the chat on a date that works both for you and the client! You will still be able to edit after if needed." %>
      <%# implement flat picker %>

      <p class="price-title"><strong>Price</strong></p>

      <div class="price-box">
        <div class="input-group form-alignment">
          <%= f.input :time, label: "How long will it take?", hint: "Your rate: #{@request.expert.price_per_hour}€/h" %>
          <span class="input-group-text form-input-groups2">h</span>
        </div>

        <div class="input-group form-alignment">
          <%= f.input :extra_costs, hint: "E.g. for materials" %>
          <span class="input-group-text form-input-groups2">€</span>
        </div>

        <div class="input-group form-alignment">
          <%= f.input :reduction, hint: "E.g. discount if many hours" %>
          <span class="input-group-text form-input-groups2">€</span>
        </div>
      </div>
      <%# improve design, width of boxes %>

      <p><strong>Total price: </strong>to be added in JS</p>
      <%# indicate total with JS%>

      <%= f.submit "Submit", class: "my-btn prim mt-3" %>
    <% end %>

  <% end %>
</div>
