<% if @request.status == "Offer accepted" %>

  <h4 class="step-box-title">Congratulations!</h4>

  <p>Your appointment with <%= @request.user.first_name %> is confirmed🎉.</p>

  <br>

  <p>v<strong>Recap of your appointment</strong></p>
  <p><strong>Date: </strong><%= @request.offer.occurs_on %></p>
  <p><strong>Address: </strong><%= @request.user.address %></p>

  <br>

  <p><i class="fa-solid fa-address-card"></i> <strong>Contact details</strong></p>
  <p>Please keep them confidential!</p>

  <div class="d-flex align-items-center">
    <%= cl_image_tag @request.expert.user.photo.key, height: 150, class: "avatar-lg" %>

    <div class="ms-3">
      <p><strong>Client full name: </strong><%= @request.expert.user.first_name %> <%= @request.expert.user.last_name %></p>
      <p><strong>Phone number: </strong>to be added</p>
      <p class="mb-0"><strong>Email: </strong><%= @request.expert.user.email %> </p>
    </div>
  </div>

<% else %>
  <p class="text-center">Sorry, you'll only have access to the client contact details once they accept their offer 😊.</p>
  <hr>
<% end %>
