<div class="my-requests-box">

  <%# PENDING REQUESTS TABLE %>
  <h3>Pending requests</h3>

  <div class="requests-table">

    <div class="titles">
      <p class="col1-size">Request</p>
      <p class="col2-size">Expert</p>
      <p class="col3-size">Last update <i class="fa-solid fa-sort-down"></i></p>
      <p class="col4-size pe-2">Status</p>
    </div>

    <div class="lines">
      <% counter = 0 %>

      <% @pending_requests.each do |request| %>
        <% counter += 1 %>
        <% if counter % 2 == 1
          pair_or_impair = "impair"
        else
          pair_or_impair = "pair"
        end %>

        <%= link_to request_path(request) do %>
          <div class="line <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
            <p class="col1-size"><%= request.title %></p>
            <p class="col2-size"><%= request.expert.user.first_name %></p>
            <p class="col3-size"><%= request.update_date %></p>
            <div class="col4-size d-flex justify-content-end">
              <p class="status-tag <%= request.tag_color %>"><%= request.status %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# REJECTED REQUESTS TABLE %>
  <br><br>
  <h3>Rejected requests</h3>

  <div class="requests-table">
    <div class="titles">
      <p class="col1-size">Request</p>
      <p class="col2-size">Client</p>
      <p class="col3-size">Last update <i class="fa-solid fa-sort-down"></i></p>
    </div>

    <div class="lines">

      <% if @rejected_requests.nil? %>
        <p>No rejected requests 😊</p>

      <% else %>
        <% counter = 0 %>

        <% @rejected_requests.each do |request| %>
          <% counter += 1 %>
          <% if counter % 2 == 1
            pair_or_impair = "impair"
          else
            pair_or_impair = "pair"
          end %>

          <div class="line-no-hover <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
            <p class="col1-size"><%= request.title %></p>
            <p class="col2-size"><%= request.user.first_name %></p>
            <p class="col3-size"><%= request.update_date %></p>

            <div class="col4-size d-flex justify-content-end">
              <%= link_to "Find new expert", experts_path, class:"me-2 text-decoration-underline" %>
              <%= link_to destroy_rejected_request_path(request), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# PAST OFFERS TABLE %>
  <br><br>
  <h3>Past offers</h3>

  <div class="requests-table">

    <div class="titles">
      <p class="col1-size">Related request</p>
      <p class="col2-size">Expert</p>
      <p class="col3-size">Delivery date <i class="fa-solid fa-sort-down"></i></p>
    </div>

    <div class="lines">
      <% counter = 0 %>

      <% @past_requests.each do |request| %>
        <% counter += 1 %>
        <% if counter % 2 == 1
          pair_or_impair = "impair"
        else
          pair_or_impair = "pair"
        end %>

        <div class="line <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
          <%= link_to request_path(request), class: "show-link" do %>
              <p class="col1-size"><%= request.title %></p>
              <p class="col2-size"><%= request.expert.user.first_name%></p>
              <p class="col3-size"><%= request.offer.occurs_on.strftime("%B %d, %Y") %></p>
              <%# need to add a method for X days ago - or since it is in the past it is not worth it? %>
          <% end %>

          <% users = [] %>
          <% request.expert.reviews.each { |review| users << review.user }  %>

          <% if users.include?(current_user) %>
            <p class="review-link">Already reviewed!</p>
          <% else %>
            <p class="review-link"><%=link_to "Review", new_expert_request_offer_review_path(request.expert, request, request.offer)%></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
