<div class="my-requests-box">
  <div class="pending-requests">
    <h3>Pending requests</h3>

    <div class="requests-table">

      <div class="titles">
        <p class="col1-size">Request</p>
        <p class="col2-size">Expert</p>
        <p class="col3-size">Last update</p>
        <p class="col4-size">Status</p>
      </div>

      <div class="lines">
        <% counter = 0 %>

        <% @requests.each do |request| %>
          <% counter += 1 %>
          <% if counter % 2 == 1
            pair_or_impair = "impair"
          else
            pair_or_impair = "pair"
          end %>

          <% if request.status == "Pending"
            color = "yellow"
          elsif request.status == "Offer made"
            color = "blue"
          elsif request.status == "Offer accepted"
            color = "green"
          else
            color = "red"
          end %>
          <%# question for Pedro: is it best practice to write this here or should it be in the controller? --> move to model %>

          <%= link_to request_path(request) do %>
            <div class="line <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
              <p class="col1-size"><%= request.title %></p>
              <p class="col2-size"><%= request.expert.user.first_name %></p>
              <p class="col3-size"><%= request.updated_at.strftime("%B %d, %Y") %></p>
              <%# question for Nico/Geoffroy: do we want to show create ou update date? (change also in requests_received) %>
              <div class="col4-size d-flex justify-content-end">
                <p class="status-tag <%= color %>"><%= request.status %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
