<div class="my-requests-box">
  <div class="pending-requests">
    <h3>Pending requests</h3>

    <%# PENDING REQUESTS TABLE %>
    <div class="requests-table">

      <div class="titles">
        <p class="col1-size">Request</p>
        <p class="col2-size">Client</p>
        <p class="col3-size">Last update</p>
        <p class="col4-size pe-2">Status</p>
      </div>

      <div class="lines">
        <% counter = 0 %>

        <% @all_requests.each do |request| %>
          <% counter += 1 %>
          <% if counter % 2 == 1
            pair_or_impair = "impair"
          else
            pair_or_impair = "pair"
          end %>

          <%= link_to request_received_path(request) do %>
            <div class="line <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
              <p class="col1-size"><%= request.title %></p>
              <p class="col2-size"><%= request.user.first_name %></p>
              <p class="col3-size"><%= request.update_date %></p>
              <div class="col4-size d-flex justify-content-end">
                <p class="status-tag <%= request.tag_color %>"><%= request.status %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# CANCELED REQUESTS TABLE %>
    <%# here comes the requests that clients cancelled %>
    <%# the expert should be able to delete those %>

    <%# PAST OFFERS TABLE %>
    <%# to be added %>

  </div>
</div>
