<div class="my-requests-box">

  <%# PENDING REQUESTS TABLE %>
  <h3>Pending requests</h3>

  <div class="requests-table">

    <div class="titles">
      <p class="col1-size">Request</p>
      <p class="col2-size">Client</p>
      <p class="col3-size">Last update <i class="fa-solid fa-sort-down"></i></p>
      <p class="col4-size pe-2">Status</p>
    </div>

    <div class="lines">

      <% if @pending_requests.nil? || @pending_requests.empty? %>
        <div class="text-center">
          <br><br>
          <p class="py-0">Oh no... You don't have any requests.</p>
          <p class="py-0">Be patient, customers will arrive anytime!</p>
          <br>
          <%= image_tag "https://media1.tenor.com/m/lx1ak5wC_wAAAAAC/milk-and-mocha-wait.gif", class:"my-gif" %>
          <br><br><br>
        </div>

      <% else %>

        <% counter = 0 %>
        <% @pending_requests.each do |request| %>
          <% counter += 1 %>
          <% if counter % 2 == 1
            pair_or_impair = "impair"
          else
            pair_or_impair = "pair"
          end %>

          <%= link_to request_received_path(request) do %>
            <div class="line <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
              <p class="col1-size"><%= request.title %></p>
              <p class="col2-size"><%= request.user.first_name %></p>
              <p class="col3-size"><%= request.update_date %></p>
              <div class="col4-size d-flex justify-content-end">
                <p class="status-tag <%= request.tag_color %>"><%= request.status %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# CANCELLED REQUESTS TABLE %>
  <% unless @cancelled_requests.nil? || @cancelled_requests.empty? %>
    <br><br>
    <h3>Cancelled requests</h3>

    <div class="requests-table">
      <div class="titles">
        <p class="col1-size">Request</p>
        <p class="col2-size">Client</p>
        <p class="col3-size">Last update <i class="fa-solid fa-sort-down"></i></p>
      </div>

      <% counter = 0 %>

      <% @cancelled_requests.each do |request| %>
        <% counter += 1 %>
        <% if counter % 2 == 1
          pair_or_impair = "impair"
        else
          pair_or_impair = "pair"
        end %>

        <div class="line-no-hover <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
          <p class="col1-size"><%= request.title %></p>
          <p class="col2-size"><%= request.user.first_name %></p>
          <p class="col3-size"><%= request.update_date %></p>

          <div class="col4-size d-flex justify-content-end">
            <%= link_to destroy_cancelled_request_path(request), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%# PAST OFFERS TABLE %>
  <% unless @past_requests.nil? || @past_requests.empty? %>
    <br><br>
    <h3>Past jobs</h3>

    <div class="requests-table">

      <div class="titles">
        <p class="col1-size">Request request</p>
        <p class="col2-size">Client</p>
        <p class="col3-size">Delivery date <i class="fa-solid fa-sort-down"></i></p>
      </div>

      <div class="lines">
        <% counter = 0 %>

        <% @past_requests.each do |request| %>
          <% counter += 1 %>
          <% if counter % 2 == 1
            pair_or_impair = "impair"
          else
            pair_or_impair = "pair"
          end %>

          <%= link_to request_received_path(request) do %>
            <div class="line <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
              <p class="col1-size"><%= request.title %></p>
              <p class="col2-size"><%= request.user.first_name %></p>
              <p class="col3-size"><%= request.offer.occurs_on.strftime("%B %d, %Y") %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
