<div class="my-requests-box">
  <div class="pending-requests">
    <h3>Pending requests</h3>

    <div class="requests-table">

      <div class="titles">
        <p class="col1-size">Request</p>
        <p class="col2-size">Client</p>
        <p class="col3-size">Received on</p>
        <p class="col4-size">Status</p>
      </div>



      <div class="lines">
        <% counter = 0 %>

        <% @requests.each do |request| %>
          <% counter += 1 %>
          <% if counter % 2 == 1
            pair_or_impair = "impair"
          else
            pair_or_impair = "pair"
          end %>

          <%= link_to request_received_path(request) do %>
            <div class="line <%= pair_or_impair %> <%= params[:id].to_i == request.id ? "line-active" : "" %>">
              <p class="col1-size"><%= request.title %></p>
              <p class="col2-size"><%= request.user.first_name %></p>
              <p class="col3-size"><%= request.created_at.strftime("%B %d, %Y") %></p>
              <p class="col4-size"><%= request.status %></p>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
