<div class="container">
  <h1 class="top-title">Contact <%= @expert.user.first_name %></h1>
  <%= simple_form_for [@expert, @request] do |f| %>
  <%= f.input :title %>
  <%= f.input :description, placeholder: "What do you want to achieve? How much time do you want to devote to this?" %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
  <% end %>


</div>
