<div class="requests-overview">
  <%# TO BE REPLACED WITH NICO'S PARTIAL %>
  <div class="container-fluid my-request">
    <div class="pending-requests">
      <h2>Pending Requests</h2>

      <div>
        <% @requests.each do |request| %>
          <%= link_to request.title, request_path(request) %>
        <% end %>
      </div>

    </div>
  </div>



  <div class="container-fluid request-steps-container">
    <div class="request-steps-box">

      <div class="steps-buttons">
        <button class="step-button">My request</button>
        <button class="step-button">Chat</button>
        <button class="step-button">Offer</button>
        <button class="step-button">Contact details</button>
      </div>

      <div class="step-content">
        <p>In progress!!!</p>
        <%= render "1my_request" %>
        <%= render "2chat" %>
        <%= render "3offer" %>
        <%= render "4contact_details" %>
      </div>



    </div>
  </div>

</div>
