<div class="container">
  <h1 class="top-title text-center">Meet our experts...</h1>

  <%# FIELD FILTERS %>
  <div class="row justify-content-center">
    <div class="col-9">
      <div class="search-tags">
        <% @fields.each do |field| %>
          <%= link_to field.expertise, experts_path(category: field.expertise), class: "search-tag #{params[:category] == field.expertise ? "search-tag-active" : "" }" %>
        <% end %>
      </div>
    </div>
  </div>

  <%# SEARCH BAR %>
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_with url: experts_path, method: :get, class:"search-bar" do %>
        <%= text_field_tag :category, params[:category], type: "hidden" %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mx-1",
          placeholder: "Type a keyword"
        %>
        <%= number_field_tag :distance,
          params[:distance],
          class: "form-control mx-1 distance-box",
          placeholder: "Type a max distance"
        %>
        <button type="submit" name="" class="my-btn prim search-btn mx-1">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      <% end %>
    </div>
  </div>

  <%# NUMBER OF RESULTS %>
  <div class="results-reset">
    <% if @experts.count == 0
      results = "Sorry... no result"
    elsif @experts.count == 1
      results = "1 result"
    else
      results = "#{@experts.count} results"
    end %>
    <p class="mb-0"><%= results %> | <%= link_to "Reset", experts_path %></p>
  </div>

  <%# CARDS & MODAL %>
  <div class="row">
    <% @experts.each do |expert| %>
      <div class="col-3">

        <%# EXPERT CARDS %>
        <div class="expert-card" data-bs-toggle="modal" data-bs-target="#expertModal<%= expert.id %>">

          <div class="pic-position">
            <%= cl_image_tag expert.user.photo.key, class:"expert-img" %>

            <div class="card-tags">
              <% expert.fields.each do |field| %>
                <div><p class="card-tag"><%= field.expertise %></p></div>
              <% end %>
            </div>
          </div>

          <div class="expert-card-text">
            <div class="name-price">
              <h4><%= expert.user.first_name %></h4>
              <p><%= expert.price_per_hour %>€/h</p>
            </div>
            <% if expert.reviews.present? %>
              <p><%= ((expert.reviews.map(&:rating).sum).fdiv(expert.reviews.count)).round(1) %>
              <%= "⭐️" * ((expert.reviews.map(&:rating).sum).fdiv(expert.reviews.count)) %>
               (<%= expert.reviews.count %>)
              </p>
              <% else %>
              <p class="expert-card-no-review">No review yet</p>
            <% end %>
            <% if user_signed_in? && params[:distance].present? %>
              <p class="mt-2"><%= expert.user.distance_to(current_user.address).to_i %> km from you</p>
            <% end %>
          </div>
        </div>

        <%# MODAL %>
        <div class="modal fade my-modal" id="expertModal<%= expert.id %>" tabindex="-1" aria-labelledby="expertModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">

              <%# header %>
              <div class="modal-header"><div class="container-fluid"><div class="row">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                <div class="col-4">
                  <%= cl_image_tag expert.user.photo.key, class:"modal-expert-img" %>
                </div>

                <div class="col-8">
                  <div class="modal-text">
                    <h4><%= expert.user.first_name %></h4>
                    <% if expert.reviews.present? %>
                      <p><%= ((expert.reviews.map(&:rating).sum).fdiv(expert.reviews.count)).round(1) %>
                      <%= "⭐️" * ((expert.reviews.map(&:rating).sum).fdiv(expert.reviews.count)) %>
                      (<%= expert.reviews.count %>)
                      </p>
                      <% else %>
                      <p class="expert-card-no-review">No review yet</p>
                    <% end %>

                    <p><i class="fa-solid fa-coins"></i>  <%= expert.price_per_hour %>€/h</p>

                    <div class="modal-tags">
                      <% expert.fields.each do |field| %>
                        <div><p class="modal-tag"><%= field.expertise %></p></div>
                      <% end %>
                    </div>

                    <p class="grow"><%= expert.description %></p>


                    <div class="btn-position">
                      <%= link_to "Contact #{expert.user.first_name}", new_expert_request_path(expert), class:"my-btn prim" %>
                    </div>
                  </div>
                </div>
              </div></div></div>

              <%# body %>
              <% if expert.reviews.present? %>
                <div class="modal-body ps-4">
                  <% reviews = expert.reviews.order(created_at: :desc) %>

                  <% index = 0 %>


                  <% reviews.each do |review| %>
                    <% if index != 0 %>
                      <hr>
                    <% end %>
                    <% index +=1 %>

                    <div class="reviewer">
                      <%= cl_image_tag review.user.photo.key, class:"avatar" %>
                      <p class="name"><%= review.user.first_name %></p>
                      <%= "⭐️" * review.rating %>
                      <p class="date"><%= review.create_date %></p>
                    </div>
                    <p class="mt-3"><%= review.comment %></p>
                  <% end %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
