<div class="container">
  <h1 class="top-title text-center">Meet our experts...</h1>
  <%# we may not want to keep this title... we don't have it in the figma %>


  <%# FIELD FILTERS %>
  <div class="search-tags">
    <% @fields.each do |field| %>
      <%= link_to field.expertise, experts_path(category: field.expertise), class: "search-tag #{params[:category] == field.expertise ? "search-tag-active" : "" }" %>
    <% end %>
  </div>

  <%# SEARCH BAR %>
  <div class="row justify-content-center">
    <div class="col-8">
      <%= form_with url: experts_path, method: :get, class:"search-bar" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "my-btn prim" %>
      <% end %>
    </div>
  </div>

  <div class="results-reset">
    <% if @experts.count == 0
      results = "Sorry... no result"
    elsif @experts.count == 1
      results = "1 result"
    else
      results = "#{@experts.count} results"
    end %>
    <p class="mb-0"><%= results %> | <%= link_to "Reset", experts_path %></p>

  </div>

  <%# CARDS & MODAL %>
  <div class="row" data-filter-target="cards">

    <% @experts.each do |expert| %>

      <div class="col-3">

        <%# EXPERT CARDS %>

        <div class="expert-card" data-bs-toggle="modal" data-bs-target="#expertModal<%= expert.id %>">

          <%= cl_image_tag expert.user.photo.key %>

          <div class="card-tags">
            <% expert.fields.each do |field| %>
              <div><p class="card-tag"><%= field.expertise %></p></div>
            <% end %>
          </div>

          <div class="expert-card-text">
            <h4><%= expert.user.first_name %></h4>
            <p><%= expert.price_per_hour %>€/h</p>
          </div>


          <%# rating will need to be added here %>

          <%# we don't want to add the address but would be great to find a way to only show the city %>

        </div>



        <%# MODAL %>

        <div class="modal fade my-modal" id="expertModal<%= expert.id %>" tabindex="-1" aria-labelledby="expertModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-body">

                <div class="container-fluid">
                  <div class="row">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="col-4">
                      <%= cl_image_tag expert.user.photo.key %>
                    </div>

                    <div class="col-8">

                      <div class="modal-text">
                        <h4><%= expert.user.first_name %></h4>
                        <p><%= expert.price_per_hour %>€/h</p>

                        <div class="modal-tags">
                          <% expert.fields.each do |field| %>
                            <div><p class="modal-tag"><%= field.expertise %></p></div>
                          <% end %>
                        </div>


                        <p class="grow"><%= expert.description %></p>

                        <%# rating will need to be added here %>
                        <%# reviews will need to be added here %>
                        <%# we don't want to add the address but would be great to find a way to only show the city %>

                        <div class="btn-position">
                          <%= link_to "I want to contact!", new_expert_request_path(expert), class:"my-btn prim" %>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    <% end %>
  </div>
</div>
