<div class="container">
  <h1 class="top-title">Meet our experts...</h1>
  <%# we may not want to keep this title... we don't have it in the figma %>


  <div class="row">

    <% @experts.each do |expert| %>

      <div class="col-3">

        <%# EXPERT CARDS %>

        <div class="expert-card" data-bs-toggle="modal" data-bs-target="#expertModal<%= expert.id %>">

          <%= cl_image_tag expert.user.photo.key %>

          <div class="card-tags">
            <% expert.fields.each do |field| %>
              <div><p class="card-tag"><%= field.expertise %></p></div>
            <% end %>
          </div>

          <div class="expert-card-text">
            <h4><%= expert.user.first_name %></h4>
            <p><%= expert.price_per_hour %>€/h</p>
          </div>


          <%# rating will need to be added here %>

          <%# we don't want to add the address but would be great to find a way to only show the city %>

        </div>



        <%# MODAL %>

        <div class="modal fade my-modal" id="expertModal<%= expert.id %>" tabindex="-1" aria-labelledby="expertModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-body">

                <div class="container-fluid">
                  <div class="row">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="col-4">
                      <%= cl_image_tag expert.user.photo.key %>
                    </div>

                    <div class="col-8">

                      <div class="modal-text">
                        <h4><%= expert.user.first_name %></h4>
                        <p><%= expert.price_per_hour %>€/h</p>

                        <div class="modal-tags">
                          <% expert.fields.each do |field| %>
                            <div><p class="modal-tag"><%= field.expertise %></p></div>
                          <% end %>
                        </div>


                        <p class="grow"><%= expert.description %></p>

                        <%# rating will need to be added here %>
                        <%# reviews will need to be added here %>
                        <%# we don't want to add the address but would be great to find a way to only show the city %>

                        <div class="btn-position">
                          <%= link_to "I want to contact!", new_expert_request_path(expert), class:"my-btn prim" %>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    <% end %>
  </div>
</div>
